.btn-group {
    margin: 100px 0 0 0;
    width: 235px;
}

.btn{
    margin: 8px 0 0 12px;
    width: 223px;
}

.rectangle {
    margin: 200px auto 0;
    border: 1px solid powderblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-color: aliceblue;
}